<!doctype html>
<html>
<head>
    <title>Registration Page</title>
    <link rel = "stylesheet" type ="text/css" href="../static/style1.css">
</head> 
<body>
    <header>
        <div class ="main">
            <ul>
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
        
        </div>
        <div class = "title">
            <h1>REGISTRATION </h1>

        </div>
        <div class = "login">

            <h1>Sign Up Here</h1>
            <form>
                <p>First Name</p>
                <input type = "text" name = "" placeholder="Enter your First Name">
                <p>Last Name</p>
                <input type = "text" name = "" placeholder="Enter your Last Name">
                <p>Username</p>
                <input type = "text" name = "" placeholder="Enter your Username">
                <p>Password</p>
                <input type = "password" name = "" placeholder="Enter your Password">
                <div class ="button">
                    <a href="/" class="btn">Login</a>
        
                </div>
                
                
            </form>
        </div>

    </header>
</body>
</html>